MONGODB_URI=mongodb://localhost:27017/heyama
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=heyama
MINIO_PUBLIC_URL=http://localhost:9000
PORT=3001
